body {
	background: url(https://images.unsplash.com/photo-1521249714975-0dc51f3c5952?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80);
	background-size: cover;
	background-position: center;
	font-family: Dosis;
	color: white;
}

html {
	height: 100%;
}

#content {
	text-align: center;
	padding-top: 15%;
	text-shadow: 3px 3px 3px rgba(0,0,0,1),
				 0px 4px 3px rgba(0,0,0,0.4),
	             0px 8px 13px rgba(0,0,0,0.1),
	             0px 18px 23px rgba(0,0,0,0.1);
}

h1 {
	font-family: acme;
	font-weight: 300;
	font-size: 5em;
	/*text-shadow: 3px 3px 3px rgba(0,0,0,1)*/
}

h3 {
	font-family:dosis;
}

hr {
	width: 400px;
	border-top: 3px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.5);
}